<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 알림 리스너 권한 -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tetramenai"
        android:label="TetramenAI"
        android:roundIcon="@drawable/tetramenai"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

<!--        <receiver android:name=".Logger" android:exported="true"-->
<!--            tools:ignore="Instantiatable">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service-->
<!--            android:name=".ForegroundService"-->
<!--            android:exported="false"-->
<!--            android:foregroundServiceType="connectedDevice|dataSync|location" />-->

        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 알림 리스너 서비스 -->
        <service
            android:name=".Notification"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <activity android:name=".Logger"
            android:exported="false" />
        <activity android:name=".Information"
            android:exported="false"/>
        <activity android:name=".Changelog"
            android:exported="false"/>
        <activity android:name=".Credits"
            android:exported="false"/>
        <activity android:name=".About"
            android:exported="false"/>
        <activity android:name=".Agreement_Popup"
            android:exported="false"/>
    </application>

</manifest>